In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
# Link taken from https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page > Under 2025 Jan
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-01.parquet')

In [4]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-01-01 00:03:01,2025-01-01 00:17:12,N,1.0,75,235,1.0,5.93,24.70,...,0.5,6.80,0.00,NaN,1.0,34.00,1.0,1.0,0.00,0.0
1,2,2025-01-01 00:19:59,2025-01-01 00:25:52,N,1.0,166,75,1.0,1.32,8.60,...,0.5,0.00,0.00,NaN,1.0,11.10,2.0,1.0,0.00,0.0
2,2,2025-01-01 00:05:29,2025-01-01 00:07:21,N,5.0,171,73,1.0,0.41,25.55,...,0.0,0.00,0.00,NaN,1.0,26.55,2.0,2.0,0.00,0.0
3,2,2025-01-01 00:52:24,2025-01-01 01:07:52,N,1.0,74,223,1.0,4.12,21.20,...,0.5,6.13,6.94,NaN,1.0,36.77,1.0,1.0,0.00,0.0
4,2,2025-01-01 00:25:05,2025-01-01 01:01:10,N,1.0,66,158,1.0,4.71,33.80,...,0.5,7.81,0.00,NaN,1.0,46.86,1.0,1.0,2.75,0.0

In [5]:
import sklearn

In [6]:
sklearn.__version__

'1.0.2'

### Question 1: Downloading the Data

We'll use NYC Taxi [dataset](https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page) and yellow Taxi Trip Records

Download the data for Jan and Feb 2023 using `wget`

Read the data for January. How many columns are there?

In [7]:
jan_df = pd.read_parquet('data/yellow_tripdata_2023-01.parquet') # Loading Jan
feb_df = pd.read_parquet('data/yellow_tripdata_2023-02.parquet') # Loading Feb

In [8]:
jan_df.shape[1] # to fetch the column count

19

### Question 2: Computing duration

Now let's compute the duration variable. It should contain the duration of a ride in minutes.

What's the standard deviation of the trips duration in January?

In [15]:
jan_df['tpep_pickup_datetime'] = pd.to_datetime(jan_df['tpep_pickup_datetime'])
jan_df['tpep_dropoff_datetime'] = pd.to_datetime(jan_df['tpep_dropoff_datetime'])

# Create duration column in minutes
jan_df['duration'] = (jan_df['tpep_dropoff_datetime'] - jan_df['tpep_pickup_datetime']).dt.total_seconds() / 60

std_dev = jan_df['duration'].std()
round(std_dev, 2)

42.59

### Question 3: Dropping outliners

Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?

In [22]:
filtered_df = jan_df[(jan_df['duration'] >= 1) & (jan_df['duration'] <= 60)]
fraction_left = len(filtered_df) / len(jan_df)
print(f"Fraction left: {fraction_left*100:.0f}")

Fraction left: 98